/*
#overview
Colors

色の変数

#colors

@primary-color #FEDF00
@secondary-color #F59230
@link-color #62310F
@link-color-hover #63030F
@black #000
@white #FFF
*/

$black: #000;
$white: #FFF;

$primary-color: #FEDF00;
$secondary-color: #F59230;
$link-color: #62310F;
$link-color-hover: #63030F;

$background-color: #F5F5F5;
$footer-color: #222;

$feed-push-color: #edab28;
$feed-feedly-color: #87BE31;
$feed-rss-color: #F59127;