article {
	margin: 0;
	.article-eyecatch-container {
		z-index: 1;
		position: relative;
		width: 100%;
		overflow: hidden;
		border-radius: 4px 4px 0 0;
		&:after {
			z-index: -1;
			content: "";
			display: block;
			background-color: rgba($black, .4);
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			width: 100%;
		}
		.article-eyecatch {
			position: relative;
			display: block;
			width: calc(100% - 32px);
			max-width: 640px;
			margin: 24px auto;
			box-shadow: 0 3px 6px rgba($black, .2);
		}
		.article-eyecatch-background {
			z-index: -2;
			position: absolute;
			object-fit: cover;
			height: 120%;
			width: 120%;
			left: 50%;
			top: 50%;
			transform: translate(-50%,-50%);
			filter: blur(16px);
		}
		h1 {
			position: relative;
			margin: 16px 48px;
			color: $white;
			font-size: 1.6rem;
			text-shadow: 0 1px 2px rgba($black,.4);	
		}
		.breadcrumb {
			display: inline-flex;
			margin-left: 36px;
			padding: 2px 12px;
			font-size: 0.8rem;
			border-radius: 2px;
			background-color: rgba($white,.2);
			text-shadow: 0 1px 2px rgba($black,.2);
			li {
				list-style-type: none;
				margin-left: 1.2rem;
				&:first-child {
					margin: 0;
				}
			}
			a {
				color: $white;
			}
		}
		.article-meta {
			font-size: 0.8rem;
			margin: 16px 36px;
			text-align: right;
			color: $white;
		}
		.article-categories {
			display: inline-flex;
			margin: 0 16px;
			li {
				margin: 0 4px;
				padding: 2px 12px;
				border-radius: 2px;
				list-style-type: none;
				background-color: rgba($white,.2);
			}
			a {
				color: $white;
			}
		}
	}
	.article-content {
		padding: 36px 72px;
		 ul, ol {
		 	padding-left: 2rem;
		 }
	}
}