/*
#overview
Footer

フッターです。
*/

footer {
	background-color: $footer-color;
	width: 100%;
	color: $white;
	padding: 36px 0;

	.footer-content {
		width: calc(100% - 32px);
		max-width: 1280px;
		margin: 0 auto;
		text-align: center;
	}

	a {
		color: $white;
	}
	a:hover {
		color: $white;
		text-decoration: underline;
	}
	.footer-menu {
		margin-bottom: 16px;
		width: 100%;
		font-size: 0.8em;
	  }
	  .menu {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		li {
		  padding: 0 24px;
		  width: auto;
		  border: #FFF dashed 0px;
		  border-right-width: 1px;
		  &:last-child {
			border-width: 0px;
		  }
		}
	  }
	  .pane-container {
		width: 1024px;
		margin: 0 auto 16px auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	  }
	  .pane {
		width: 480px;
	  }
	  .widget {
		overflow: hidden;
		padding: 0 15px 4px;
		margin-bottom: 30px;
	  }
	  .widget-header {
		font-size: 1.2em;
		padding: 8px;
		margin: 0 -15px 16px;
		color: #FFF;
		border-bottom: 1px dashed #FFF;
	  }
	  .twitter {
		margin: 16px 0;
	  }
	  .widget-header:empty {
		padding: 0;
	  }
	  ul li {
		list-style: none;
		line-height: 1.3;
		margin-bottom: 15px;
		font-size: 0.95em;
		clear: both;
		overflow: hidden;
	  }
	  .box a:hover {
		color: #EA3382;
	  }
	  ul.children {
		margin: 8px 0 0 25px;
		font-size: 0.95em;
	  }
}