nav {
	width: 100%;
	background-color: $secondary-color;
	ul {
		width: 100%;
		max-width: 1280px;
		padding: 8px;
		margin: 0 auto;
		display: flex;
		justify-content: center;
	}
	li {
		margin: 0 0.5rem;
		padding: 0 1rem;
		list-style-type: none;
		font-size: 0.8rem;
		line-height: 1.6rem;
		border-radius: 0.8rem;
		background-color: rgba($black, .2);
	}
	a {
		color: $white;
	}
}

.hamburger-mobile {
	display: none;
}