/*
#overview
Sidebar

サイドバーおよびサイドバーに格納されたウィジェットです。
*/

.sidebar {
	width: $sidebar-width;

	.widget {
		margin-bottom: 24px;
		padding: 16px;
		background-color: $white;
		border-radius: 2px;
		box-shadow: 0 5px 10px rgba($black,.1);
	}
}

/* 検索フォーム */
.search-box{
	height: 36px;
	box-shadow: 0 5px 10px rgba($black,.1);
	border-radius: 2px;
	margin-bottom: 30px;
}
.search-text{
	width: 80%;
	height: 100%;
	font-size: 1em;
	float: left;
	padding: 5px 10px;
	margin: 0;
	border: none;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
	background-color: $white;
}
.search-submit{
	font-size: 1.2em;
	width:20%;
	height: 100%;
	display: inline;
	padding: 0;
	margin: 0;
	border: none;
	color: #888;
	cursor: pointer;
	-webkit-appearance: none;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	transition: all .1s;
	background-color: $white;
}
.search-submit:hover{
	color: $black;
	background-color: #EEE;
}